.App {
  color: #444;
  text-align: center;
}

.App-header {
  background-color: white;
  font-size: 16px;
  height: 55px;
  padding: 20px;
}

.App-border {
  background-color: #420;
  height: 15px;
  padding: 0;
}

.App-body {
  background-color: #9f6c3e;
  height: 600px;
  padding: 20px;
}

.App-footer {
  background-color: white;
  height: 55px;
}

